<h1>Teams Managment</h1>

<p><strong>Options:</strong></p>
<p>
<%= link_to 'Create Team', new_team_path %>
</p>

<table>
  <tr>
    <th>Team</th>
    <th>User</th>
    <th colspan="2"></th>
  </tr>

  <% @teams.each do |team| %>
    <tr>
      <td><%= team.name %></td>
      <td><%= team.user %></td>
      <td><%= link_to 'Show', team_path(team) %></td>
      <td><%= link_to 'Edit', edit_team_path(team) %></td>
      <td><%= link_to 'Delete', team_path(team),
              method: :delete, data: { confirm: 'Are you sure you want to delete this team?' } %></td>
    </tr>
  <% end %>
</table>
